body{
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
    background-color: white;
}

header{
    background-color: white;
    padding: 0;
    margin: 0;
}

h1{
    margin: 0;
    padding: 20px 30px 10px 30px;
    font-size: 30px;
    font-weight: 500;
    color: black;
}

.explanation{
    padding-bottom: 20px;
}

h2, h3{
    padding-top: 20px;
    padding-bottom: 20px;

}
.portfolio_intro{
   padding-left: 20px;
   padding-right: 20px;
   padding-bottom: 20px;

}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: skyblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: skyblue;
  }

  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: skyblue;
    color: black;
  }

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
  }

a .skip{
    left: 0;
    background: lightpink;
    height: 30px;
    padding: 8px;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
  }
  
a .skip:focus, a.skip:active {
    transform: translateY(0%);
  }

  /* a.skip {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}


a.skip:focus, a.skip:active {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ff6060f1;
    background-color:rgb(0, 20, 107);
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    text-align:center;
    font-size:1.2em;
    z-index:999;
  } */

.intro{
    margin: 0px;
    padding: 20px;
}

#image1{
    width: 100%;
}

.hello{
    margin: 20px;
    position: absolute;
    top: 130px;
    left: 10px;
    font-size: 20px;
    padding: 10px;
    color: black;
    background-color:white;
}

#blurb{
    margin: 30px;
    position: absolute;
    top: 160px;
    left: 0px;
    font-size: 13px;
    padding: 10px;
    color: black;
    background-color: white;;
}

.projects{
    margin:20px;
    padding-top: 10px;
    padding-bottom: 50px;
}

.Intern_Connect{
    padding-bottom: 10px;
    position: relative;
    text-align: center;
    color: white;
}

.Test_Center{
    padding-top: 10px;
    position: relative;
    text-align: center;
    color: white;
}

#display1 {
    width: 100%;
}

#display2 {
    width: 100%;
}

.Project_Name{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 25px;
    color: white;
    background-color: #333;
    padding: 15px;
    font-weight: 5000;
}

.project_info{
    margin: 20px;
}

/* .explanation{
    padding-bottom: 20px;
} */

@media only screen and (max-width: 800px){
    .screens{
        display:grid;
        width: 100px;
        height: 100px;
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 10px;
        justify-items: center;
    }
    #screen1{
        width: 200px;
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    #screen2{
        width: 200px;
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }

    #screen3{
        width: 200px;
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }

    #screen4{
        width: 200px;
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }

    #screen5{
        width: 200px;
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }

    #screen6{
        width: 200px;
        grid-row: 3 / 4;
        grid-column: 2 / 3;
    }

    #screen7{
        width: 200px;
        grid-row: 4 / 5;
        grid-column: 1 / 2;
    }

    #screen8{
        width: 200px;
        grid-row: 4 / 5;
        grid-column: 2 / 3;
    }

    #screen9{
        width: 200px;
        grid-row: 5 / 6;
        grid-column: 1 / 2;
    }
}

@media only screen and (max-width: 500px){
    .screens{
        display:grid;
        width: 100px;
        height: 100px;
        grid-template-columns: repeat(1, 355px);
        grid-template-rows: repeat(9, 1fr);
        grid-gap: 10px;
        justify-items: center;
    }

    #screen1{
        width: 200px;
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    #screen2{
        width: 200px;
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }

    #screen3{
        width: 200px;
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }

    #screen4{
        width: 200px;
        grid-row: 4 / 5;
        grid-column: 1 / 2;
    }

    #screen5{
        width: 200px;
        grid-row: 5 / 6;
        grid-column: 1 / 2;
    }

    #screen6{
        width: 200px;
        grid-row: 6 / 7;
        grid-column: 1 / 2;
    }

    #screen7{
        width: 200px;
        grid-row: 7 / 8;
        grid-column: 1 / 2;
    }

    #screen8{
        width: 200px;
        grid-row: 8 / 9;
        grid-column: 1 / 2;
    }

    #screen9{
        width: 200px;
        grid-row: 9 / 10;
        grid-column: 1 / 2;
    }
}
